<div class="container mt-4">
  <h2>Updating BlogModel</h2>

  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="card p-4 shadow-lg">

    <!-- Title -->
    <div class="mb-3">
      <label>Title <span class="text-danger">*</span></label>
      <input type="text" formControlName="title" class="form-control" [ngClass]="{'is-invalid': blogForm.get('title')?.touched && blogForm.get('title')?.invalid}" />
      @if(blogForm.get('title')?.touched && blogForm.get('title')?.errors?.['required']){
        <div class="invalid-feedback">
          Title is required.
        </div>
      }

    </div>

    <!-- Category -->
    <div class="mb-3">
      <label for="category" class="form-label">Category <span class="text-danger">*</span></label>
      <select id="category" formControlName="category" class="form-select">
        <option value="">Select Category</option>
        @for(cat of categories; track cat) {
          <option [value]="cat">{{ cat }}</option>
        }
      </select>
      @if(blogForm.get('category')?.touched && blogForm.get('category')?.errors?.['required']){
        <div class="invalid-feedback">
          Category is required.
        </div>
      }
    </div>

    <!-- Image Upload -->
    <div class="mb-3">
      <label>Upload Image <span class="text-danger">*</span></label>
      <input
        type="file"
        class="form-control"
        (change)="onFileSelected($event)"
        accept="image/*"
        [ngClass]="{'is-invalid': blogForm.get('imageUrl')?.touched && blogForm.get('imageUrl')?.invalid}"
      />
      @if(blogForm.get('imageUrl')?.touched && blogForm.get('imageUrl')?.errors?.['required']){
        <div class="invalid-feedback">
          Image is required.
        </div>
      }
      @if(imagePreview){
        <div class="mt-2">
          <img [src]="imagePreview" alt="BlogModel Image Preview" class="img-fluid" style="max-width: 200px; max-height: 200px;">
        </div>
      }


    </div>

    <!-- Content -->
    <div class="mb-3">
      <label>Content <span class="text-danger">*</span></label>
      <textarea formControlName="content" class="form-control" rows="6" [ngClass]="{'is-invalid': blogForm.get('content')?.touched && blogForm.get('content')?.invalid}"></textarea>
      @if(blogForm.get('content')?.touched && blogForm.get('content')?.errors?.['required']){
        <div class="invalid-feedback">
          Content is required.
        </div>
      }
    </div>

    <!-- Submit -->
    <div class="text-end mt-3">
      <button type="button" (click)="goBack()" class="btn btn-secondary me-2">Back</button>
      <button type="submit" class="btn btn-primary" [disabled]="blogForm.invalid">Update</button>
    </div>
  </form>
</div>
