<div class="sidebar bg-dark text-white p-3 vh-100">
  <hr class="border-secondary">

  <h6 class="text-light mb-3">Filter by Category</h6>
  <ul class="nav flex-column gap-2">
    @for (cat of categories; track cat){
      <li>
        <button
          class="btn btn-outline-light w-100 text-start"
          [ngClass]="{'btn-light text-black': selectedCategory === cat}"
          (click)="selectCategory(cat)">
          <i class="bi bi-tag-fill me-2"></i>{{ cat }}
        </button>
      </li>
    }
  </ul>
</div>
